<div class="header-background hidden-xs">
  </div>
    <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="selectPlan">
          <ng-template matStepLabel>Select Your Booth</ng-template>
          <div class="row" *ngIf="rescom" style="margin: 0" id="book-booth">
            <div class="col-xs-8" style="background-color: white" #boundary>
              <div class="seat-container">
                  <div class="row" *ngFor="let data of hallData; let j=index">
                      <div class="col-xs-12 mt-2">
                        <h3>{{data.hall_name}}</h3>
                        <div style="position: relative;" >
                            <div #img class="maindiv" style="position: relative;width: 100%;height:100vh">
                    
                                <img *ngIf="data?.image?.media_type== 'image' " [src]="data?.image?.media_name" style="position: relative;width: 100%;height:100%;object-fit: fill;" draggable="false">
                    
                                <video *ngIf="data?.image?.media_type== 'video'  " [src]="data?.image?.media_name" playsinline="playsinline" class="w-100 h-100" style="object-fit: fill;" autoplay="autoplay" [muted]="true" loop="loop" type="video">
                                </video>
                    
                                <div *ngFor="let placeholder of data?.placeholderDetails; let i=index" #box (appNginit)="updatePlaceholder(box,placeholder.poly,img)" 
                                class="box"
                                [style.background-color]="placeholder.color_code" 
                                >
                               <div *ngIf="placehoders[i].unavailable=='unavailable'" style="width:150px;height: 120px;"  [ngClass]="{'seat-unavailable': placehoders[i].unavailable=='unavailable'}"  matTooltip="Unavailabel"></div>	     
                                <div *ngIf="placehoders[i].unavailable!='unavailable'" 
                                style="width:150px;height: 120px;"   
                                (click)="bookSeat(hallData,i,j)"
                                matTooltip="Seat No :{{ placeholder.seat_no}} | Plan : {{placeholder.plan?.plan_name}} | Price : {{placeholder?.plan?.price}}"></div>	     
                              </div>
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
            <!-- <div class="col-xs-4" style="padding-top: 1%">
              <div class="container-fluid">
                <div class="col-sm-12">
                  <div #spacer></div>
                  <div stickyThing [spacer]="spacer" [boundary]="boundary" [marginTop]="100" [enable]="enableSticky">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="col-xs-12">
                          <h4>Sponsor Hall</h4>
                        </div>
                        <div class="row sticky-border">
                          <div class="col-xs-1 seat-item-sample d"> </div>
                          <div class="col-xs-9" style="font-size: 1.4rem;width: 81%;">Diamond 36 SqM </div>
                        </div>
                        <div class="row sticky-border">
                          <div class="col-xs-1 seat-item-sample p"> </div>
                          <div class="col-xs-9" style="font-size: 1.4rem;width: 81%;">Platinum 36 SqM </div>
                        </div>
                        <div class="row sticky-border">
                          <div class="col-xs-1 seat-item-sample g"> </div>
                          <div class="col-xs-9" style="font-size: 1.4rem;">Gold 18 SqM </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="col-xs-12">
                          <h4>Exhibitor Hall</h4>
                        </div>
                        <div class="row sticky-border">
                          <div class="col-xs-1 seat-item-sample s"> </div>
                          <div class="col-xs-9" style="font-size: 1.4rem;">Silver 9 SqM</div>
                        </div>
                        <div class="row sticky-border">
                          <div class="col-xs-1 seat-item-sample b"> </div>
                          <div class="col-xs-9" style="font-size: 1.4rem;">Bronze 5 SqM </div>
                        </div>
                        <div class="row sticky-border" style="padding-top:3.9rem">
                          <div class="col-xs-1 "> </div>
                          <div class="col-xs-9" style="font-size: 1.4rem;"> </div>
                        </div>
                      
                      </div>
                    </div>
                    <div class="row sticky-border">
                      <div class="col-xs-1 seat-item-sample" style="background-color: #a9a9a9"> </div>
                      <div class="col-xs-9" style="font-size: 1.4rem;">Booked</div>
                    </div>
      
                    <div class="row" style="margin-top:1rem">
                      <div class="col-sm-12">
                        <div class="col-xs-12 summary-bar" *ngIf="!selectPlan.invalid">
                          <div>
                            <p style="font-size: 1.4rem;">Expo Hall :&nbsp; {{cart.title}}</p>
                          </div>
                        </div>
                        <div class="col-xs-12 summary-bar" *ngIf="!selectPlan.invalid">
                          <div>
                            <p style="font-size: 1.4rem;">Package :&nbsp; {{cart.planname}}</p>
                          </div>
                        </div>
                        <div class="col-xs-12 selected-seats" *ngIf="!selectPlan.invalid">
                          <p class="no-padding" style="font-size: 1.4rem;">Booth number :&nbsp;<span
                              *ngFor="let seatLabel of cart.selectedSeats" class="badge badge-primary">{{seatLabel}}</span>
                          </p>
      
                        </div>
                        <div class="col-xs-12 summary-bar" *ngIf="!selectPlan.invalid">
                          <div>
                            <p style="font-size: 1.4rem;">Price :&nbsp; ${{cart.totalprice}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row text-center" style="margin-top:1rem">
                      <div class="col-sm-12"> <button mat-raised-button color="primary" [disabled]="selectPlan.invalid"
                          type="button" matStepperNext>
                          Next
                        </button></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>  -->
          </div>
        </mat-step>
        <!-- <mat-step [stepControl]="Form">
          <ng-template matStepLabel>Exhibitor Registration</ng-template>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="lgx-logo">
                      <a>
                        <img src="assets/img/crop.png" alt="Eventhunt Logo" height="100%" width="100%" />
                      </a>
                    </div>
                  </div>
                </div>
                <div class="row " style="margin-left:1rem;margin-top: 2rem">
                  <div class="col-sm-12">
                    <p>Date :&nbsp;8 - 10 May 2020</p>
                    <p>Venue :&nbsp;Canna Bizfair Virtual Expo Center. </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 exhibit-border">
                <form [formGroup]="Form" class="" autocomplete="off" role="presentation">
                  <div class="kt-form__section kt-form__section--first">
                    <div class="form-group kt-form__group row">
                      <div class="col-md-6 kt-margin-bottom-20-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                          <input matInput placeholder="First Name" formControlName="first_name" required />
                          <mat-error>First Name is
                            <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6 kt-margin-bottom-20-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                          <input matInput placeholder="Last Name" formControlName="last_name" required />
                          <mat-error>Last Name is
                            <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
      
                      <div class="col-md-6 kt-margin-bottom-20-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                          <input matInput placeholder="Company Name" formControlName="company_name" required />
                          <mat-error>Company Name is
                            <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6 kt-margin-bottom-20-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                          <input type="email" matInput placeholder="Email" formControlName="email" required />
                          <mat-error>Email is
                            <strong>invalid</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
      
                      <div class="col-md-6 kt-margin-bottom-20-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                          <mat-label> Country</mat-label>
                          <mat-select formControlName="country" required>
                            <mat-option *ngFor="let conutry of countries" [value]="conutry.name">{{conutry.name}}</mat-option>
                          </mat-select>
                          <mat-error>Please Select Country</mat-error>
                        </mat-form-field>
                      </div>
      
                      <div class="col-md-6 kt-margin-bottom-20-mobile">
                        <div class="row">
                          <div class="col-sm-12">
                            <mat-form-field class="size-control">
                              <ngx-mat-intl-tel-input [preferredCountries]="['us', 'gb']" [enablePlaceholder]="true"
                                [enableSearch]="true" [enablePlaceholder]="true"
                                placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mobile No"
                                name="mobile" formControlName="mobile"></ngx-mat-intl-tel-input>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
      
                      <div class="col-md-6 kt-margin-bottom-20-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                          <input matInput type="password" placeholder="Password" formControlName="password" required />
                          <mat-error *ngIf="isControlHasError('password','required')">
                            Password is
                            <strong>required</strong>
                          </mat-error>
                          <mat-error *ngIf="isControlHasError('password','minlength')">
                            <strong>Minimum field length:3</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
      
                      <div class="col-md-6 kt-margin-bottom-20-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                          <input type="password" matInput placeholder="Confirm Password" formControlName="confirm_pwd"
                            required />
                            <mat-error *ngIf="isControlHasError('confirm_pwd','required')">
                              Confirm Password is
                              <strong>required</strong>
                            </mat-error>
                            <mat-error *ngIf="isControlHasError('confirm_pwd','notSame')">
                              Password & Confirm Password
                              <strong>doesn't</strong> Match
                            </mat-error>
                        </mat-form-field>
                      </div>
      
                      
      
                      <div class="col-md-6 kt-margin-bottom-20-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                          <input matInput placeholder="City" formControlName="city" required />
                          <mat-error>City is
                            <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
      
                      <div class="col-md-6 kt-margin-bottom-20-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                          <input matInput placeholder="Billing Address" formControlName="billing_address" required />
                          <mat-error>Billing Address is
                            <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
      
                      <div class="col-md-6 kt-margin-bottom-20-mobile">
                        <mat-form-field class="mat-form-field-fluid">
                          <input type="email" matInput placeholder="Zip / Post Code" formControlName="zip_code" required />
                          <mat-error>Postal Code is
                            <strong>Required</strong>
                          </mat-error>
                        </mat-form-field>
                      </div>
      
      
                      <div class="col-md-6 kt-margin-bottom-20-mobile hide">
                        <mat-form-field class="mat-form-field-fluid">
                          <mat-label>Payment Mode</mat-label>
                          <mat-select (selectionChange)="Payment_Mode()" [(value)]="planmode" formControlName="payment_mode">
                            <mat-option value="full"> Full (Refundable) </mat-option>
                            <mat-option value="half"> Advance 50% (Non-refundable) </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6 ">
                        <div class="row">
                          <div class="col-md-8 kt-margin-bottom-20-mobile">
                            <mat-form-field class="mat-form-field-fluid">
                              <input matInput placeholder="Coupon Code" formControlName="coupon_code" />
                              <mat-icon matSuffix *ngIf="Form.value.coupon_code != ''" (click)="couponRemove()"
                                style="cursor: pointer;">clear</mat-icon>
                              <mat-hint *ngIf="coupon_msg != '' ">{{coupon_msg}}</mat-hint>
                              <mat-hint style="color:red" *ngIf="invalid_msg != '' ">{{invalid_msg}}</mat-hint>
                            </mat-form-field>
                          </div>
                          <div class="col-md-4 kt-margin-bottom-20-mobile" style="padding-top: 2rem;">
                            <button mat-raised-button color="primary"
                              [disabled]="cart?.selectedSeats?.length == 0 || Form.value.coupon_code == ''" type="button"
                              (click)="couponApply()" style="width: 100%">
                              Apply
                              <mat-icon>
                                <mat-spinner color="warn" diameter="20" *ngIf="coupon_loader"></mat-spinner>
                              </mat-icon>
                            </button>
                          </div>
                        
                      </div>
      
      
                    </div>
                  </div>
              </div>
              </form>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-sm-12 text-center">
                  <h5>Order Summary</h5>
                </div>
              </div>
              <div class="row" style="padding-left: 25px;">
                <div class="row">
                  <div class="col-xs-9">
                    <span>Exhibitor Package : </span>
                  </div>
                  <div class="col-xs-3">
                    {{cart.planname}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-xs-9">
                    <span>Total Amount :</span>
                  </div>
                  <div class="col-xs-3">
                    ${{cart.totalprice}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-xs-9">
                    <span>Discount <span *ngIf="type == 'percentage'"> % </span> <span *ngIf="type == 'flat'"> in flat
                      </span> : </span>
                  </div>
                  <div class="col-xs-3">
                    {{cart.totalsaving}}<span *ngIf="type == 'percentage'">%</span>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-xs-9">
                    <span>Discounted Price : </span>
                  </div>
                  <div class="col-xs-3">
                    ${{cart.totaldiscountprice}}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-xs-9">
                    <span><b>Advance payment of 50% :</b></span>
                  </div>
                  <div class="col-xs-3">
                    <b>${{cart.totalpaid}}</b>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-xs-9">
                    <span>Balance payment (payable by 1st April 2020) : </span>
                  </div>
                  <div class="col-xs-3">
                    ${{cart.totalreaming}}
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 book-area text-center">
                    <button mat-raised-button color="primary" [disabled]="cart?.selectedSeats?.length == 0 || Form.invalid"
                      type="button" (click)="processPay()" id="customPayButton">
                      Proceed to payment
                      <mat-icon>
                        <mat-spinner color="warn" diameter="20" *ngIf="booking_loader"></mat-spinner>
                      </mat-icon>
                    </button>&nbsp;&nbsp;
                    <button class="btn btn-info" matStepperPrevious>Back</button>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </div>
          </div>
        </mat-step> -->
      </mat-horizontal-stepper>
