<div class="mainattendee">
  <div class="overlay"></div>
  <video  playsinline="playsinline" autoplay="autoplay" [muted]="true" loop="loop" class="w-100 h-100">
  <source src="../../assets/img/login.mp4" type="video/mp4">
  </video>
  <img *ngIf="imageUrl" [src]="imageUrl" style="position: absolute;width: 100%;height: 100vh;">
  <!-- <img *ngIf="!videoUrl && !imageUrl" src="assets/img/default-entrace.png" style="position: absolute;width: 100%;height: 100vh;"> -->
  <div class="container h-100">
    <div class="row">
      <div class="col-md-8 col-sm-8 col-xs-8">
        <div class="lgx-logo">
          <!-- <a href="./">
          <img src="assets/img/attendeeCbd.png" alt="Eventhunt Logo" height="100%" width="100%"/>
          </a> -->
          <h1>Coming Soon</h1>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="lgx-cart-area" style="margin-top: 5%;float: right;">
          <a class="lgx-btn lgx-btn-yellow attend_navitem" data-toggle="modal" data-target="#exampleModal"><span>Login</span></a>&nbsp;&nbsp;&nbsp;
          <!-- <a class="lgx-btn lgx-btn-red attend_navitem"  [routerLink]="['/attendee-booking']"><span>Buy Now</span></a> -->
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-12">
        <div class="lgx-countdown-area mt-0">
        <div id="lgx-countdown" data-date="2020/11/6"></div>
      </div></div>
    </div>
    
    <div class="row float-btn">
      <div class="col-sm-12 text-center">
        <a class="lgx-btn" href=" https://melaninsmeseries.org/attendee-booking" style="background: darkorchid;">Book your ticket</a>
      </div>
    </div>
  </div>
</div>

  <!-- Participant -->
  <section>
    <div id="lgx-speakers" class="lgx-speakers">
      <div class="lgx-inner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="lgx-heading  lgx-heading-white" style="margin-bottom: 1rem;">
                <h4 class="heading" style="color: black;">50 Participants to get FREE the Stanbic IBTC Enterprise
                  Online Training with Pan-African University!!!</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <p>The Stanbic IBTC Enterprise Online is a partnership between Stanbic IBTC and Enterprise Development
                Centre (EDC) of the Pan-Atlantic University, Lagos. It aims at equipping small and medium enterprises
                (SMEs) with skills and competencies needed to manage their businesses profitably, develop and defend
                viable business proposals, maximise their business funds, trade and prepare the them for easy access
                to finance. This training will give business owners the opportunity to navigate business challenges of
                the new normal.</p>
              <br>
              <p>To stand a chance to win, please refer as many USOSANs as possible to register for this conference
                and exhibition and inform them to put your name and number as the referrer. The more people you refer,
                the higher your chances of winning! </p>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-xs-12">
              <div class="lgx-heading  lgx-heading-white" style="margin-bottom: 1rem;">
                <h4 class="heading" style="color: black;">START REFERRING NOW!!!</h4>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 text-center">
              <h5 style="font-size: 2.3rem;">
                Share this link <a href="https://melaninsmeseries.org/attendee-booking" target="_blank">
                  https://melaninsmeseries.org/attendee-booking</a> along with you name and number
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- Modal -->
<div class="modal fade fadeInDown" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="formContent" *ngIf="logInForm">
          <h2 class="active"> Log In </h2>
          <a class="close" data-dismiss="modal"></a>
          <div class="fadeIn first">
            <img src="assets/img/user_icon.png" id="icon" alt="User Icon" />
          </div>
          <form [formGroup]="Attendee_Login_Form" autocomplete="off" >
            <input type="text" id="login" class="fadeIn second" name="email" placeholder="User name" formControlName="email" required="required">
            <input type="password" id="password" class="fadeIn third" name="user_password" placeholder="Password" formControlName="password" required="required">
            <input type="submit" class="fadeIn fourth lgx-btn lgx-btn-red" value="Log In" [disabled]="Attendee_Login_Form.invalid" (click)="Attendee_Login()">
            <i *ngIf="loading" class="fa fa-spinner fa-spin" ></i> 
          </form>
          <!-- <div id="formFooter">
            <a class="underlineHover" (click)="forgotPassword()">Forgot Password?</a>
          </div> -->
        </div>
        <div id="formContent" *ngIf="forgotPasswordForm">
          <h2 class="active"> Forgot Password </h2>
          <a class="close" data-dismiss="modal"></a>
          <form [formGroup]="Attendee_Forgot_Password_Form" autocomplete="off" >
            <input type="text" id="login" class="" name="email" placeholder="Email" formControlName="forgotEmail" required="required">    
            <input type="submit" class="lgx-btn lgx-btn-red" value="Submit" 
            [disabled]="Attendee_Forgot_Password_Form.invalid" (click)="forgotMailSend()">
            <i *ngIf="loading" class="fa fa-spinner fa-spin" ></i> 
          </form>
          <div id="formFooter">
            <a class="underlineHover" (click)="forgotToLogin()">Log In</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade fadeInDown" id="exampleModal1" tabindex="-1" role="dialog" 
  aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="resetPasswordForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="formContent">
          <h2 class="active"> Change Password </h2>
          <form [formGroup]="Attendee_Change_Password_Form" autocomplete="off" >
            <input type="password" class="" name="email" placeholder="Password" 
              formControlName="password" required="required">    
            <input type="password" class="" name="email" placeholder="Confirm Password" 
              formControlName="confirm_password" required="required">    
            <input type="submit" class="lgx-btn lgx-btn-red" value="Submit" 
            [disabled]="Attendee_Change_Password_Form.invalid" (click)="changePassword()">
            <i *ngIf="loading" class="fa fa-spinner fa-spin" ></i> 
          </form>
        </div>
      </div>
    </div>
  </div>
</div>