.header-background{
   background: #ffffff8c;
   width: 100%;
   height: 7em;
}
.lgx-travelinfo-content img{
 height: 7em;
}
.lgx-inner {
   padding-top: 3rem;
   padding-bottom: 3rem;
}
.heading{
   font-size: 2.5rem;
}
.lgx-registration {
   background: #554bb9;
}
.lgx-inner1 {
   padding: 13rem 0;
}
.lgx-registration-area .lgx-single-registration .lgx-single-registration-inner {
   padding: 0 !important; 
   position: relative;
   z-index: 3;
}
.lgx-registration-area .lgx-single-registration .single-bottom
{
 padding-bottom: 3rem;
}
.pass_info {
   /*padding: 60px 0 60px 0;*/
   /* background: #fff; */
}
.pass_subscribe{
   padding: 60px 0 60px 0;
   background: #fff;
}
section {
   -webkit-background-size: 100% !important;
   -moz-background-size: 100% !important;
   -o-background-size: 100% !important;
   background-size: 100% !important;
   position: relative;
}
.sep-background-mask {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #554bb9;
   opacity: .9;
   z-index: 1;
}
section > .container {
   position: relative;
   z-index: 2;
}
.quick_newsletter .newsletter-info {
   color: #f8f8f8;
}
.quick_newsletter .newsletter-info {
 color: #f8f8f8;
}
.quick_newsletter .newsletter-info h3 {
 font-size: 20px;
 font-weight: bold;
 text-transform: uppercase;
 line-height: 36px;
 margin: 0px;
 color: #f8f8f8;
}
.quick_newsletter .newsletter-element .input-text {
 background-color: #f8f8f8;
 padding: 15px 20px;
 display: inline-block;
 border: none;
 outline: none;
 width: 100%;
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
 border-radius: 3px;
 -webkit-border-radius: 3px;
 -moz-border-radius: 3px;
}
.quick_newsletter .newsletter-element .newsletter-submit {
 font-size: 15px;
 font-weight: bold;
 color: #ffffff;
 line-height: 24px;
 padding: 15px 30px 15px 30px;
 -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
 min-width: auto;
 position: relative;
 display: inline-block;
 background-color: #ec398b;
}
/*.quick_newsletter .newsletter-element .newsletter-submit:hover {
 background-color: #efa506;
}*/
.quick_newsletter .newsletter-element .newsletter-submit i {
 margin-right: 5px;
}
.quick_newsletter p {
 margin-bottom: 0px;
}
/* .quick_newsletter .newsletter_email {
 margin-top: 1rem;
} */
@media only screen and (max-width: 767px){
.newsletter-element .input-text, .newsletter-element .newsletter-submit {
   margin-top: 20px;
}}
.size-control{
 width: 100%;
}
/*
.mat-stepper-horizontal{
 background: #554bb9;
}*/
.mat-horizontal-content-container{
 padding: 0 !important;
}
/* COUPON Button */
.btn-gray
{
 padding: 15px 30px 15px 30px;;
}
.mat-form-field-fluid
{
 width: 100%;
}
.mat-hint {
 color: #3c763d;
 font-size: 15px;
}
.text-col
{
 color:rgba(0, 0, 0, 0.66);
}
 button:after {
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 height: 0;
 width: 0;
 background: #1b273d00;
 -webkit-transition: all 0.5s ease-in-out;
 transition: all 0.5s ease-in-out;
 -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
 transform: translateX(-98%) translateY(-25%) rotate(45deg);
 opacity: 1;
}
-button:hover:after{
 -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
 transform: translateX(-9%) translateY(-25%) rotate(45deg);
 height: 0;
 width: 0;
 left: 0;
 border-radius: 100%;
}
international-phone-number  .input-group-addon:first-child {
 border-right: 0;
 border: 0px;
 background: white;
}
span.step {
 background: rgba(204, 204, 204, 0.5882352941176471);
 position: absolute;
 margin-top: -2rem;
 margin-left: 2rem;
 color: #ffffff;
 display: inline-block;
 font-weight: bold;
 line-height: 1.6em;
 text-align: center;
 font-size: 4rem;
 height: 60px;
 width: 60px;
 border-radius: 50%;
 display: inline-block;
}
.attend-border{
 border-right: 1px solid #80808061;
 border-left: 1px solid #80808061;
 padding-left: 2.5rem;
 padding-right: 2.5rem;
}

.mat-checkbox-layout {
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
 cursor: inherit;
 align-items: baseline;
 vertical-align: middle;
 display: inline-flex;
 white-space: normal !important;
}

.inner_bg{
   background-image: url('../../assets/img/about-bg-sp.jpg') !important;
   background-position: center;
   background-repeat: no-repeat !important;
   background-size: cover !important;
}
.mat-form-field + .mat-form-field {
   margin-left: 8px;
 }

 .example-radio-group {
   display: flex;
   flex-direction: column;
   /* margin: 15px 0; */
 }
 
 .example-radio-button {
   margin: 5px;
   align-items: start !important;
 }

 @media (max-width:375px) {
   .option-break{
      font-size: 1rem;
   }
 }
