<div class="header-background hidden-xs"></div>
<ngx-spinner bdOpacity=0.1 bdColor="#333" size="medium" color="#fff" type="ball-pulse" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<section class="pass_info">
  <div id="lgx-travelinfo" class="lgx-travelinfo">
    <div class="lgx-inner pad-bottom-sect6">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="lgx-heading" style="margin-bottom: 3rem;">
              <h2 class="heading">5 Reasons to attend FGC Nigeria’s biggest virtual expo
              </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            
             <ul>
               <li>One-stop SME information</li>
               <li>Hands on training</li>
               <li>Local and Foreign business network</li>
               <li>New business trends</li>
               <li>How to use technology to incrase sales</li>
             </ul>
              <!-- <div class="lgx-travelinfo-single">
                <img src="assets/img/attend/2.svg" alt="Transport" />
                <span class="step">2</span>
                <p class="info pad-para pad-para">Buy best products at special price directly from exhibitors</p>
              </div>
              <div class="lgx-travelinfo-single">
                <img src="assets/img/attend/3.svg" alt="Hotel & Restaurant" />
                <span class="step">3</span>
                <p class="info pad-para">Participate in exclusive promotions and activities</p>
              </div> -->
         
          </div>
        </div>
        <!-- <div class="row" style="margin-top:45px">
          <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="lgx-travelinfo-content">
              <div class="lgx-travelinfo-single">
                <img src="assets/img/attend/4.png" alt="location" />
                <span class="step">4</span>
                <p class="info pad-para">Find distribution and franchising opportunities in your market</p>
              </div>
              <div class="lgx-travelinfo-single">
                <img src="assets/img/attend/5.svg" alt="Transport" />
                <span class="step">5</span>
                <p class="info pad-para">Attend the event from anywhere, anytime and on any device</p>
              </div>
            </div>
          </div>
        </div> -->
        <!--//.ROW-->
      </div>
      <!-- //.CONTAINER -->
    </div>
  </div>
</section>


<section class="pass_info">
  <div id="lgx-travelinfo" class="lgx-travelinfo">
    <div class="lgx-inner inner_bg">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="lgx-heading" style="margin-bottom: 3rem;">
              <h2 class="heading">Attendee Registration
              </h2>
            </div>
          </div>
        </div>
        <form [formGroup]="Attendee_registration">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group row">
                <div class="col-lg-6">
                  <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Full Name" formControlName="first_name" required />
                    <mat-error> Name is
                      required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-6 kt-margin-bottom-20-mobile">
                  <mat-form-field class="mat-form-field-fluid">
                    <input matInput placeholder="Company Name" formControlName="company_name" required />
                    <mat-error>Company Name is
                      required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group  row">
                <div class="col-lg-12 kt-margin-bottom-20-mobile">
                  <mat-form-field class="mat-form-field-fluid">
                    <input type="email" matInput placeholder="Email" formControlName="email" required />
                    <mat-error>Enter
                      Valid Email
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group row">
                <div class="col-lg-6 kt-margin-bottom-20-mobile">
                  <mat-form-field class="mat-form-field-fluid">
                    <input type="password" matInput placeholder="Password" formControlName="password" required />
                    <mat-error *ngIf="isControlHasError('password','required')">
                      Password is
                      required
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('password','minlength')">
                      Password must be atleast 6 characters
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-6 kt-margin-bottom-20-mobile">
                  <mat-form-field class="mat-form-field-fluid">
                    <input type="password" matInput placeholder="Confirm Password" formControlName="confirm_pwd" />
                    <mat-error *ngIf="isControlHasError('confirm_pwd','required')">
                      Confirm Password is
                      required
                    </mat-error>
                    <mat-error *ngIf="isControlHasError('confirm_pwd','notSame')">
                      Password & Confirm Password
                      should Match
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group row">
                <!-- <div class="col-sm-6 kt-margin-bottom-20-mobile">
                  <re-captcha #captchaRef formControlName="recaptchaReactive" (resolved)="resolved($event)" required></re-captcha>
                </div> -->
                <div class="col-sm-6" >
                  <mat-checkbox formControlName="accept_terms" ><span style="font-weight: 400;">
                    Accept terms of use</span></mat-checkbox></div>
                 
              </div>
            </div>
          </div>
          <div class="row">
           <div class="col-sm-12"><label style="font-weight: 400;">Q. How did you get to know about this event?</label></div> 
          </div>
          <div class="row">
            <div class="col-sm-12">
              <mat-radio-group class="example-radio-group" formControlName='event_source'>
              <div class="row">
                <div class="col-sm-12">
                  <mat-radio-button [value]="1" class="example-radio-button">
                    <span style="font-weight: 400;">
                     Through referral <li class="option-break">Please state Name, Mobile number and School name of the person</li><br class="d-none d-md-block d-xl-none">
                     <mat-form-field class="mat-form-field" style="text-align: center !important;">
                       <input matInput  required />
                     </mat-form-field> 
                   </span> 
                   </mat-radio-button>
                 </div>
               </div>
               <mat-radio-button  [value]="2" class="example-radio-button">
                <p style="font-weight: 400;">Radio Advert</p>
              </mat-radio-button>
              <mat-radio-button  [value]="3" class="example-radio-button">
                <p style="font-weight: 400;">Social Media Platforms</p>
              </mat-radio-button>
              <mat-radio-button  [value]="4" class="example-radio-button">
                <p style="font-weight: 400;"> Your Alumni Platforms</p>
              </mat-radio-button>
            </mat-radio-group>
              </div>
          </div>
                
          <div class="row">
            <div class="col-sm-12 text-center">
              <button type="button" [disabled]="Attendee_registration.invalid" (click)="onSubmit()">Register</button>
            </div>
          </div>
        </form>
        <!--//.ROW-->
      </div>
      <!-- //.CONTAINER -->
    </div>
  </div>
</section>
