<!--HEADER-->
<header *ngIf="!router.url.includes('attendee-login')">
  <div id="lgx-header" class="lgx-header">
    <div class="lgx-header-position lgx-header-position-white lgx-header-position-fixed ">
      <!--lgx-header-position-fixed lgx-header-position-white lgx-header-fixed-container lgx-header-fixed-container-gap lgx-header-position-white-->
      <div class="lgx-container">
        <!--lgx-container-fluid-->
        <nav class="navbar navbar-default lgx-navbar" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed attend_navitem">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="lgx-logo">
              <a [routerLink]="['/']">
                <img src="assets/img/logo.png" alt="Eventhunt Logo" height="100%" width="100%" />
              </a>
            </div>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <div class="lgx-nav-right navbar-right">
              <div class="lgx-cart-area">
                <!-- <a class="lgx-btn lgx-btn-red attend_navitem"
                [routerLink]="['sponsor']"><span>Sponsor</span></a>&nbsp;&nbsp;&nbsp;
                <a class="lgx-btn lgx-btn-red attend_navitem"
                [routerLink]="['/exhibitor-book']"><span>Exhibit</span></a>&nbsp;&nbsp;&nbsp;
                <a class="lgx-btn lgx-btn-red attend_navitem"
                  [routerLink]="['/attendee-booking']"><span>Attend</span></a> -->
              </div>
            </div>
            <ul class="nav navbar-nav lgx-nav navbar-right">
              <li>
                <a class="lgx-scroll attend_navitem" [routerLink]="['']">Home</a>
              <li>
              <li>
                <a class="lgx-scroll attend_navitem" href="#lgx-schedule">Agenda</a>
              <li>
                <li>
                  <a class="lgx-scroll attend_navitem"  [routerLink]="['sponsor']">Sponsor</a>
                <li>
              <li>
                <a class="lgx-scroll attend_navitem"  [routerLink]="['/exhibitor-book']">Exhibit</a>
              <li>
              <li>
                <a class="lgx-scroll attend_navitem" [routerLink]="['/attendee-booking']">Attend</a>
              <li>
              <li>
                <a class="lgx-scroll attend_navitem" href="#lgx-footer">Contact Us</a>
              <li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </nav>

      </div>
      <!-- //.CONTAINER -->
    </div>
  </div>
</header>


<!--HEADER END-->

<ngb-progressbar class="kt-loading-bar" *ngIf="(loader.progress$|async) > 0" [value]="loader.progress$|async"
  height="5px"></ngb-progressbar>
<router-outlet></router-outlet>


<!--FOOTER-->
<footer *ngIf="!router.url.includes('attendee-login')">
  <div id="lgx-footer" class="lgx-footer">
    <!--lgx-footer-white-->
    <div class="lgx-inner-footer">
      <div class="lgx-subscriber-area" *ngIf="!router.url.includes('attendee-login')">
        <div class="container-fluid">
          <div class="lgx-subscriber-inner">
          </div>
        </div>
      </div>
      <div class="container-fluid ">
        <div class="row">
          <div class="col-sm-12 text-center"><h3>Contact Us</h3></div>
        </div>
        <div class="row">
          <div class="col-sm-offset-3 col-sm-6" style="text-align: justify;">
            <li>For general information & enquiries : <a>info@melaninsmeseries.org</a></li>
            <li>For enquiries about sponsorship & partnership : <a >sales@melaninsmeseries.org</a></li>
            <li>For enquiries about exhibition : <a>exhibition@melaninsmeseries.org</a></li>
            <br>
            <p style="color: white; text-align: center;">Or call us on : 09131790585 & 09132330882</p>
          </div>
        </div>
         <hr>
        <div class="lgx-footer-bottom">
          <div class="lgx-copyright">
            <div class="row">
              <div class="col-md-12 col-sm-12" style="text-align:center">
                <span>
                  <p>For event related queries, media opportunities, please write to <a
                      style="text-transform: lowercase;">info@melaninsmeseries.org</a> </p>
                  <li style="color: inherit;">
                    Developed w |<i class="fa fa-heart " style="color: red;"></i>|
                    by Huddle<sup>XR</sup> &nbsp;<a target="_target" href="https://huddlexr.com">www.huddlexr.com</a>
                  </li>
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- //.CONTAINER -->
    </div>
    <!-- //.footer Middle -->
  </div>
</footer>
<!--FOOTER END-->
