
:host ::ng-deep .kt-loading-bar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}
:host ::ng-deep .kt-loading-bar .progress-bar {
    background-color: #ff4081;
}
:host ::ng-deep .kt-header__topbar-item {
    height: 100%;
}
@media (min-width: 1025px) {
    :host ::ng-deep .kt-header__topbar, :host ::ng-deep .kt-header__topbar-item-wrapper {
        height: 100%;
   }
}


.modal-header {
    padding: 0px; 
    border-bottom:0px;
}


.modal-header .close
{
font-size: 29px;
}

.with-us{
	text-align: left;
	color: white;
}
.lgx-subscriber-inner {
    padding: 1em 0;
    text-align: left;
    color: white;
}
.contact-email{
font-size: 1em
}
h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
}

h4:after, h4:visited:after {
  content: '';
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background: #ff4081;
  transition: 0.2s;
}
h4:hover:after, h4:visited:hover:after {
  width: 14em;
}

.subscriber-title {
    color: #fff;
    font-weight: 400;
    letter-spacing: .07rem;
    margin-bottom: 2rem;
    text-align: justify;
    font-size: 0.9em;
}
textarea.form-control {
    height: 100px;
}
.form-control {
    height: 2.5em;
}
.btn-danger {
    color: #fff;
    background-color: #ec398b;
    border-color: #ec398b;
}
.btn-danger:hover {
    color: #fff;
    background-color: #ec398b;
    border-color: #ec398b;
}
.glyphicon {
  top: 0.5em;
  }

.lgx-header-position-white .lgx-navbar .lgx-nav li a {
   
    color: #ec398b !important;
    font-weight: bolder !important;
}
.lgx-header .lgx-navbar .lgx-nav li a:hover {
    color: #554bb9 !important;
}
 
.lgx-footer li>a{
    color: #efa506;
}

@media (max-width: 767px) {
   .navbar-right{
    background: #1b273d !important;
   }
}

