
  .box {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 120px;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    cursor: pointer;
}
.box:hover
{
  background-color: greenyellow!important;
}


.badge-primary {
  color: #fff;
  background-color: #a0a0a0;
  padding: 5px;
  margin: 0px 5px 5px 0px;
}

.seatrow {
  display: inline-flex;
}

.pricing-label {
  font-weight: bold;
  margin: 0px 0px 16px 16px;
  padding: 0;
  text-align: left;
  color: #a0a0a0;
  border-bottom: 1px solid #e2e2e2;
}

.seat-item {
  height: 27px;
  width: 27px;
  line-height: 25px;
  margin: 3px;
  border-radius: 7px;
  font-size: 14px;
  padding-left: 5px;
}

.seat-space {
  background-color: white;
  border: 0;
  cursor: none;
}

.seat-available {
  color: #a0a0a0;
  background-color: white;
  font-weight: bolder;
  border: 1px solid #a0a0a0;
}

.seat-available:hover {
  color: #a0a0a0;
  background-color: white;
  border: 1px solid #a0a0a0;
}

.seat-unavailable {
  
  background-color: #a9a9a9;
  /* font-weight: bolder;
  color: white;
  border: 1px solid white; */
}

.seat-booked {
  background-color: #00FF00!important;
  /* color: white;
  font-weight: bolder;
 
  border: 1px solid white; */

}

.seat-item:hover {
  cursor: pointer;
}

.seat-container {
  overflow-x: auto;
  padding: 1% 0%;
  overflow-y: hidden;
}

.seat-screen {
  background-color: gray;
  color: white;
  padding: 1%;
  text-align: center;
  font-weight: bolder;
}

.bookingbar {
  z-index: 1000;
  bottom: 0;
  position: fixed;
  background: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
  display: inline-flex;
  width: 102%;
}
/*
h5 {
  font-weight: bold;
}*/

.book-area {
  width: 100%;
  padding: 0;
  margin-top: 1em;
}

/*button 
    {
        width: 100%;
        height: 100%;
        margin: 0;
    }*/


.total-amount {
  background-color: #F17924;
  color: white;
  cursor: pointer;
}

.row-label {
  color: black;
  background-color: white;
  min-width: 20px;
  font-weight: bolder;
  line-height: 32px;
}

.booking-summary {
  display: inline-flex;
}

.seat-item-sample {
  height: 27px;
  width: 27px;
  line-height: 25px;
  margin: 3px;
  border-radius: 7px;
  font-size: 14px;
  padding-left: 5px;
  display: inline-flex;
}

.summary-bar {
  display: inline-flex;
  margin-top: 1%;
}

.no-padding {
  padding: 0;
  display: inline-block;
}

.Premium_Hall_first_row {
  width: 8.6rem;
  height: 6rem;
}

.Premium_Hall_second_row {
  width: 6rem;
  height: 8.6rem;
}

.Expo_Hall_first_row {
  width: 4.5rem;
  height: 3.8rem;
}

.Expo_Hall_second_row {
  width: 3.8rem;
  height: 4.5rem;
}

.d {
  background-color: #3B5284;
}

.p {
  background-color: #5BA8A0;
}

.g {
  background-color: #CBE54E;
}

.s {
  background-color: #94B447;
}

.b {
  background-color: #5D6E1E;
}

.Premium_Hall_second_row.middle {
  width: 10.2rem;
  height: 9rem;
}

.Expo_Hall_second_row.middle {
  width: 4.8rem;
  height: 4.8rem;
}

.Expo_Hall_last_row.middle {
  width: 4.5rem;
  height: 3.8rem;
}

.space-shift#Premium_Hall {
  margin-left: 1.8rem;
}

.space-shift#Expo_Hall {
  margin-left: 1.3rem;
}

.label {
  display: inline-flex;
  margin-top: 2%;
  color: black;
}

button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  background: #1b273d00;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
  opacity: 1;
}

button:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
  height: 0;
  width: 0;
  left: 0;
  border-radius: 100%;
}

.mat-form-field {
  width: 100%;
}

.booking-title {
  color: white;
  margin-top: -25em;
}

.lgx-registration {
  background: url(../../assets/img/header_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.lgx-registration-area .lgx-single-registration .lgx-single-registration-inner {
  padding: 1.2rem 1.2rem 1.2rem !important;
  position: relative;
  z-index: 3;
}

.lgx-travelinfo-content img {
  height: 7em;
}

.header-background {
  background: #ffffff8c;
  ;
  width: 100%;
  height: 7em;
}

.lgx-inner {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.heading {
  font-size: 2.7rem;
}

.lgx-about-registration-box {
  padding: 0rem 1.3rem;
}


.package-heading {
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

table {
  width: 100%;
  text-align: center;
}


.example-headers-align .mat-expansion-panel-header-title {
  font-size: 18px;
}

.set-title {
  font-size: 20px;
  color: green;
}

.bg-color {
  background-color: #efa5062e;
}

.sub-heading {
  color: #ec388b;
}

.mat-hint {
  color: #3c763d;
  font-size: 15px;
}

.example-container {
  height: 270px;
  overflow: auto;
}

hr {
  margin-top: 0;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #e2cdcd;
}

.lgx-btn-red {
  margin-top: 3rem;
}

span.step {
  background: rgba(204, 204, 204, 0.5882352941176471);
  position: absolute;
  margin-top: -2rem;
  margin-left: 2rem;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  text-align: center;
  font-size: 3.3rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: inline-block;
}

.text-center {
  border: 0px !important;
}

/* PLAN CSS */
/* Above tabel div class */
.stick-head
{
  max-width: 100%;
  max-height: 700px;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
  border-radius: 10px;
  margin: 0;
  padding: 0;

  /*border: 2px solid #ca1f6c;*/
}
/* Tabel class */
.ops-table {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid #ca1f6c;
	margin: auto;
  color: black;
  border-spacing: 0;
}

.ops-table thead th {
  background-color:#e38ab5;
  left: 0;
  /* z-index: 1; */
  text-align: center;
  color: #ffffff;
  min-width: 60px;
  font-weight: bold;
   /* position: -webkit-sticky; */
  position: sticky;
  top: -10px;
  margin-top: 10px;
  bottom: -10px;
  margin-bottom: 10px;
  /*padding-top: 1em !important;
  padding-bottom: 1em !important;*/
  font-size: 20px;
  border: 0px !important;
  padding-left: 4rem;
}

.ops-table td {
  /* padding: 8px; */
  font-size:20px;
  text-align: center;
  border: 0px;
}

 tbody tr {
  display: none;
}

 tbody tr.header {
  display: table-row;
}

thead th:first-child,
tfoot th:first-child {
  z-index: 100;
}

.ops-table td:nth-child(1) {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  /* z-index: 1; */
  background-color:  #dacbd1;
}

.ops-table td:nth-child(2) {
  background-color:  #dcb2c466;
}
.ops-table td:nth-child(3) {
  background-color: #e877aa4f;
}
.ops-table td:nth-child(4) {
  background-color: #dcb2c466;
}
.ops-table td:nth-child(5) {
  background-color: #e877aa4f;
}
.ops-table td:nth-child(6) {
  background-color: #dcb2c466;
}
.ops-table tbody td
{
  padding: 18px;
}
.ops-table tbody td>i{
  color: #1f6d50;
  font-size: 37px;
}
.ops-table tbody td .fa-times-circle
{
  color: #c30b2ad1;
}
.bg-head-tr
{
  color: #097092;
  font-size: 2.5rem;
}
.ops-table tfoot th
{
  /* background-color: #f89406;
  text-align: center;
  color: #ffffff;
  top: -10px;
  margin-top: 10px;
  bottom: -10px;
  margin-bottom: 10px;
  padding-top: 1em !important;
  font-size: 20px;
  position: sticky;
  border: 0px;
  */
  width: 27%; 
  background-color: #3f51b5;
  left: 0;
  text-align: center;
  color: #ffffff;
  min-width: 60px;
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  top: -10px;
  margin-top: 10px;
  bottom: -10px;
  margin-bottom: 10px;
  padding-top: 1em !important;
  font-size: 20px;
  border: 0px !important;
}
.ops-table tfoot td {
  background-color: #3f51b5;
  left: 0;
  /* z-index: 1; */
  text-align: center;
  color: #ffffff;
  min-width: 60px;
  width: 13%;
  font-weight: bold;
  position: sticky;
  top: -10px;
  margin-top: 10px;
  bottom: -10px;
  margin-bottom: 10px;
  padding-top: 1em !important;
  /* padding-bottom: 1em !important; */
  font-size: 20px;
  border: 0px;
  /* z-index: 10; */
}
/* .ops-table-yellow td:nth-child(2) {
  background-color: #feefd9;
} */
.lgx-btn-red
{
  margin-top: 0rem ;
}

.exhibit-border{
  border-right: 1px solid #80808061;
  border-left: 1px solid #80808061;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.sticky-border
{
  border-bottom: 1px solid #80808069;
  padding-bottom: 0.7rem;
  padding-top: 0.7rem;
}

.about-bg{
  background-image: url('../../assets/img/about-bg-sp.jpg') !important;
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: cover !important; 
}

.lgx-heading .heading_cta{
  font-family: 'Poppins', sans-serif;
  font-size: 42px;
  line-height: 63px;
  font-size: 2rem;
  line-height: 6.300000000000001rem;
  color: white;
  font-weight: 600;
  margin: 0 0 1rem;
  text-transform: uppercase;
 }

section {
  -webkit-background-size: 100% !important;
  -moz-background-size: 100% !important;
  -o-background-size: 100% !important;
  background-size: 100% !important;
  position: relative;
}
.sep-background-mask {
  background: #554bb9;
  opacity: .9;
  z-index: 1;
}
section > .container {
  position: relative;
  z-index: 2;
}
