<div class="header-background hidden-xs">

</div>
<ngx-spinner bdOpacity=0.1 bdColor="#333" size="medium" color="#fff" type="ball-pulse" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<!-- More About Event -->
<section>
  <div id="lgx-travelinfo" class="lgx-travelinfo">
    <div class="lgx-inner pad-bottom-sect6">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="row">
              <div class="col-xs-12">
                <div class="lgx-heading" style="margin-bottom: 1rem !important;">
                  <h2 class="heading">BENEFITS OF EXHIBITING AT NIGERIA’S BIGGEST VIRTUAL EXPO
                  </h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="lgx-travelinfo-content text-justify">
                  <ul>
                    <li>Get a highly customizable virtual booth, which enables you to customize your space and showcase
                      your innovative and unique offerings at the expo.</li><br>
                    <li>Showcase your products with rich content formats and allow attendees to access and explore these
                      offerings from the comforts of their homes. The virtual stall set up comes with a video vault
                      carrying a host of products including videos, brochures, product catalog, virtual calling
                      facilities, etc.
                    </li><br>
                    <li>Virtual Booths allows visitors to easily navigate through the exhibition and ensure a
                      near-physical exhibition experience for them through highly immersive and carefully designed
                      booths in an exceptionally easy-to-use environment.
                    </li><br>
                    <li>Leverage free-flowing two-way communication between delegates and yourself (exhibitor) at the
                      Expo through chat & video meeting facilities and webinars to bring about a more engaging and
                      interactive experience.
                    </li><br>
                    <li>Increase brand awareness with thought leadership content.
                    </li><br>
                    <li>Have complete control of the booth design and content through the exhibitor dashboard. Stay
                      clear of the event logistics cost and upload relevant marketing collaterals, product videos, and
                      pull up banners right from your desk and also update content and visuals real-time during the
                      event.
                    </li><br>
                    <li>Find total visitor count, average time spent, number of document views, number of cards
                      exchanged, and time spent on chat and video interactions, etc. It has never been easier to measure
                      event ROI.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <!--//.ROW-->
          </div>
        </div>
      </div>
      <!-- //.CONTAINER -->
    </div>
  </div>
</section>
<!-- End Of About Event -->

<!-- Exhibitor Profile -->
<section>
  <div id="lgx-speakers" class="lgx-speakers">
    <div class="lgx-inner about-bg">
      <div class="container ">
        <div class="row">
          <div class="col-xs-12">
            <div class="lgx-heading" style="margin-bottom: 1rem !important;">
              <h2 class="heading">Exhibitor Profile</h2>
            </div>
          </div>
        </div>
        <div class="row text-justify">
          <div class="col-xs-6 col-sm-6">
            <ul>
              <li>
                Agricultural and Agro Allied
              </li>
              <li>Constructions & Real Estate</li>
              <li>Consumer Goods</li>
              <li>Financial Services</li>
              <li>Information & Communications Technology</li>
              <li>Health Care</li>
              <li>Industrial Goods</li>
              <li>Oil & Gas</li>
            </ul>
          </div>
          <div class="col-xs-6 col-sm-6">
            <ul>
              <li> Natural Resources</li>
              <li>
                Professional Services
              </li>
              <li>Manufacturing </li>
              <li>Education </li>
              <li>Sports </li>
              <li>Government Services/Agencies </li>
              <li>Creative, Media & Entertainment</li>
              <li>Conglomerate</li>
            </ul>
          </div>
        </div>

        <!--//.ROW-->
      </div>
      <!-- //.CONTAINER -->
    </div>
    <!-- //.INNER -->
  </div>
</section>

<section>
  <div class="lgx-sponsors">
    <div class="lgx-inner-bg">
      <div class="lgx-inner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-12 lgx-heading">
              <h2 class="text-center heading">Exhibitor Packages</h2>
              <ng-image-slider [images]="imageObject" [infinite]="true" [autoSlide]=5 [showArrow]="true"
                [imageSize]="{width: 372, height: 300, space: 4}" #nav></ng-image-slider>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div id="lgx-about" class="lgx-about">
    <div class="lgx-inner sep-background-mask" style="margin-top: -4rem; padding-bottom:6rem ">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="lgx-heading" style="margin-bottom:1rem">
              <p class="heading_cta">
                To explore exhibitor opportunities further, please write to <span style="color: #efa506; text-transform: lowercase;">exhibition@melaninsmeseries.org</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
