.lgx-registration {
    background: url(../../assets/img/header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%
}
.lgx-registration-area .lgx-single-registration .lgx-single-registration-inner {
    padding: 1.2rem 1.2rem 1.2rem !important;
    position: relative;
    z-index: 3;
}
.lgx-inner{

    padding-top: 16rem

}


@media only screen and (min-width: 1024px) {
    
    .lgx-inner{
        padding-left: 21%;
        padding-right: 21%;
    }
  }




@media only screen and (max-width: 425px) {
    .lgx-registration {
        background: url(../../assets/img/header_bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 40%
    }
    .lgx-inner{

        padding-top: 6rem
    
    }
  }
  