 
.modal-header {
    padding: 0px !important; 
   border-bottom: 0px !important;
}
.close 
{
 
  font-size: 41px;

}
.top-margin
{
  margin-top: 31px;;
}
@media (max-width: 768px)
{
  .top-margin
  {
    margin-top:0px;
  }
}
/* .overlay-left
{
  background-color:none !important;
}
.overlay-right
{
  background-color: none !important;
} */
.lgx-btn-padding
{
  margin-top: 3%;
}
/* .lgx-banner-info
{
  margin-top: 4rem;
} */
.lgx-inner-fixed
{
  padding-top: 12rem;
}
.lgx-inner .padding-btm
{
  padding-bottom: 4rem;
}

.pad-botm-sponsor
{
  padding-bottom: 9rem;
  padding-top: 9rem;
  background: white;
}
.lgx-inner .mt-top-sponsors
{
  margin-top: 3rem;
}
.size-control 
{
  width: 100%;
}
.pad-bottom-sect6
{
  padding-bottom: 9rem;
}
.lgx-travelinfo-content img{
  height: 7em;
}
.small-btn
{
  padding: 1.0rem 2rem;
}
/* SECTION HEADER */
.title-cbd
{
  font-size: 5rem;
  line-height: 5rem;
  color: white;
}
.lgx-banner-info .title  span {
 
  border-bottom: 4px solid #554bb9;
}
/* END HEADER */

/* SECTION 1 ABOUT EVENT */
.cbdworld
{
  padding-top: 14rem;
  background-image: url('../../assets/img/about-bg-sp.jpg') !important;
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  padding-bottom: 7rem;
}
@media (max-width: 991px)
{
  .cbdworld
  {
    padding-top:0rem;
  }
}
.lgx-inner .margn-top
  {
    padding-top:7rem;
  }
  @media (max-width: 1300px)
  {
    .margn-top
    {
      padding-top:0rem;
    }
  }
.example-card {
width: 87%;
}
.mat-card-image {
  height: 5.9em;;
  margin-top: 0px !important;
}
 .top-mar
{
  margin-top: 3rem;
}
mat-card-content>p{
  margin-top:0.9rem;
  font-size: 1.8rem;
}
.example-card .col-md-6
{
  padding: 2rem;
}
 .top
{
  margin-top: 0rem;
}
.mat-card-image
{
  transition: all 0.3s ease-in-out 0s;

}
.mat-card-image:hover
  {
    transform: scale(1.1);
    /* border: 2px solid white;
    transform: rotate(20deg) scale(1.1) translateY(-30%) translateX(30%); */
  }

  @media (max-width: 768px)
  {
     .top
    {
      margin-top: 2.5rem;
    }
  }
  .lgx-heading .subheading >b{
    font-size: 3rem;
  }
  .text
  {
    font-size: 1.6rem;
  }
  /*                     END SECTION 1                            */

  /* CAT SCECTION 2 */
.cta-head
{
  font-size: 3.2rem;
  color: #ec398b;
}
.cta-subhead
{
  font-size: 3rem;
  font-style: oblique;
  color: #141486;
}

/* SCHDULE SECTION */
.lgx-heading > h6{
  /*font-family: fantasy;*/
  font-size: 1.9rem;
}


/* END OF SCHEDULE SECTION */

/* SECTION 4 VENUE */
.lgx-heading-top
{
  margin-top: -3rem;
}
.top-content
{
  margin-top: 2rem;
}  

/* CTA SECTION 6 */
.heading-cta
{
  font-family: 'Poppins', sans-serif;
  font-size: 42px;
  line-height: 40px;
  font-size: 4.2rem;
  /* line-height: 6.300000000000001rem; */
  color: #1b273d;
  font-weight: 500;
  margin: 0 0 1rem;
  font-size:2.2rem
}

.cbdBrandImages{
  margin: auto;
  display: block;
}
.cbdImageText{
  text-align: center;
}


    video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
   }
 

 @media screen  and (max-width: 766px) {   
  #myVideo{
    display: none;
  }
}

/* sponsors */
.partners-bg{
  background-image: url('../../assets/img/about-bg-sp.jpg') !important;
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

/* Speakers */



.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}


/* Icons */

.icon {
  display: block;
  width: 1.5em;
  height: 1.5em;
  margin: 0 auto;
  fill: currentColor;
}



/* Content */

.content1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tilter {
  display: block;
  position: relative;
  width: 100%;
  height: 300px;
  color: #fff;
  flex: none;
  perspective: 1000px;
}

.tilter * {
  pointer-events: none;
}

.tilter:hover,
.tilter:focus {
  color: #fff;
  outline: none;
}

.about_color{
  color: #ec398b;
}

/*
.tilter__figure,
.tilter__deco,
.tilter__caption {
	will-change: transform;
}*/

.tilter__figure,
.tilter__image {
  margin: 0;
  width: 100%;
  height: 100%;
  display: block;
}



.tilter__figure > * {
  transform: translateZ(0px);
  /* Force correct stacking order */
}

.smooth .tilter__figure,
.smooth .tilter__deco--overlay,
.smooth .tilter__deco--lines,
.smooth .tilter__deco--shine div,
.smooth .tilter__caption {
  transition: transform 0.2s ease-out;
}

.tilter__figure {
  position: relative;
}

.tilter__figure::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  box-shadow: 0 30px 20px rgba(35, 32, 39, 0.5);
}

.tilter__deco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.tilter__deco--overlay {
  /* background-image: linear-gradient(45deg, rgba(226, 60, 99, 0.4), rgba(145, 58, 252, 0.4), rgba(16, 11, 192, 0.4)); */
}

.tilter__deco--shine div {
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);
}

.tilter__deco--lines {
  fill: none;
  /* stroke: #fff;
  stroke-width: 5px; */
}


.tilter__caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em;
}

.tilter__title {
  margin: 0;
  font-weight: normal;
  font-size: 2em;
  font-family: 'Abril Fatface', serif;
  line-height: 1;
  color: hotpink;;
}

.tilter__description {
  margin: 1em 0 0 0;
  font-size: 0.85em;
  letter-spacing: 0.15em;
  color: white;
}


/* Example 5 (line animating) */

.tilter--5 .tilter__deco--lines path {
  stroke-dasharray: 1270;
  stroke-dashoffset: 1270;
  transition: stroke-dashoffset 0.7s;
}

.tilter--5:hover .tilter__deco--lines path {
  stroke-dashoffset: 0;
}

.tilter--5 .tilter__figure::before {
  box-shadow: none;
}

/*  */
.box6:after{
  content: "";
}
.box6 {
  overflow: hidden;
}
.box6 .icon li a {
  border-radius: 50%;
}

.box6 .box-content,
.box7 .title {
  text-transform: uppercase;
}
.box6,
.box7,
.box9 {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}
.box6 .title,
.box6 img,
.box6:after {
  transition: all 0.35s ease 0s;
}
.box6 {
  background: #000;
  position: relative;
}
.box6:after {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: -30%;
  bottom: 0;
  right: 70%;
  transform: skew(20deg) translateX(-75%);
}
.box6:hover:after {
  transform: skew(20deg) translateX(0);
}
.box6 img {
  width: 100%;
  height: auto;
}
.box6:hover img {
  opacity: 0.5;
}
.box6 .box-content {
  padding: 11px;
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.box6 .icon,
.box7 .icon {
  padding: 0;
  list-style: none;
}
.box10 .icon li a,
.box11,
.box12,
.box13,
.box14,
.box6 .icon li a,
.box7,
.box7 .icon li a,
.box8,
.box8 .icon li a {
  text-align: center;
}
.box6 .title {
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  margin: 0 0 10px;
  transform: scale(0);
}
.box6:hover .title {
  transform: scale(1);
}
.box6 .icon li,
.box6 .post {
  opacity: 0;
  transform: translateX(40px);
  transition: all 0.35s ease 0s;
}
.box6 .post {
  display: block;
  font-size: 14px;
  color: #fff;
  margin-bottom: 5px;
}
.box6 .icon {
  display: inline-block;
  margin: 0;
}
.box6:hover .icon li,
.box6:hover .post {
  opacity: 1;
  transform: translateX(0);
}
.box6:hover .icon li:first-child {
  transition-delay: 0.1s;
}
.box6:hover .icon li:nth-child(2) {
  transition-delay: 0.2s;
}
.box6 .icon li a {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  background: #fff;
  font-size: 18px;
  color: #605f5f;
  margin-bottom: 5px;
  transition: all 0.35s ease;
}
.box6 .icon li a:hover {
  background: #605f5f;
  /* color: #fff; */
}
@media only screen and (max-width: 990px) {
  .box6 {
    margin-bottom: 30px;
  }
}
