<div class="home">
  <div class="lgx-container ">
    <!-- Header -->
    <section>
      <video playsinline="playsinline" class="hidden-sm" autoplay="autoplay" [muted]="true" loop="loop" id="myVideo">
        <source src="assets/img/FGC.mp4" type="video/mp4">
      </video>
      <div class="lgx-banner lgx-banner14">
        <div class="lgx-banner-style">
          <div class="lgx-inner lgx-inner-fixed" style="padding-bottom:0rem">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="lgx-banner-info">
                    <div class="lgx-countdown-area">
                      <div id="lgx-countdown" data-date="2020/11/6"></div>
                    </div>
                    <h3 class="subtitle">Melanin Studios & FGCKADOSA Present</h3>
                    <h2 class="title-cbd title">Nigeria’s biggest Virtual Expo and Conference &nbsp; <br
                        class="visible-xs">
                      <!-- <span id="lgx-typed-center"></span> -->
                    </h2>
                    <h3 class="location"><i class="fa fas fa-compass"></i>&nbsp;<span></span>Atlantic Virtual Expo
                      Center
                      &nbsp;<i class="fa fa-calendar"></i><span> 6 – 7 November 2020</span>
                    </h3>
                  </div>
                </div>
              </div>
              <div class="row" style="margin-top:2rem">
                <div class="col-sm-12">
                  <div class="section-btn-area" style="float:left">
                    <a class="lgx-btn" [routerLink]="['/exhibitor-book']" style="color: white !important;"><span>Become
                        an Exhibitor</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <section>
      <div id="lgx-about" class="lgx-about">
        <div class="lgx-inner cbdworld ">
          <div class="container margn-top">
            <div class="row title-pad">
              <div class="col-sm-12 col-md-6">
                <div class="lgx-about-content-area">
                  <div class="lgx-about-content">
                    <div class="row">
                      <div class="col-sm-12">
                        <p class="text">
                          Melanin Studios Ltd. in conjunction with Federal Government College Kaduna Old Students
                          Association is set to host the biggest virtual conference and exhibition in Nigeria. The
                          philosophy behind this synergy is born out of the need to strategically place Nigeria ahead as
                          the commerce destination post Covid -19 ridding on the network within the alumni of the 104
                          unity schools in the first phase. We also want to use the opportunity to build, grow and
                          empower the alumni and members of the public in business management and entrepreneurship.
                        </p>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-12">
                        <p class="text ">The Conference & Exhibition will give insights to participants on the role
                          technology should play in their various businesses. It gives SMEs, business owners,
                          manufacturers, concept generators, etc. a platform to bring their products and services to
                          life through the virtual exhibition
                        </p>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-sm-12 ">
                        <p class="text">
                          The program is expected to last two days, with conference, exhibition and networking as
                          integral parts of the engagement.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6 ">
                <div style="padding-top: 4rem;">
                  <div class="row text-center">
                    <div class="col-sm-4">
                      <h3 class="subheading about_color"><b>100</b><br>Exhibitors</h3>
                    </div>
                    <div class="col-sm-4">
                      <h3 class="subheading about_color"><b>1500</b><br>Visitors</h3>
                    </div>
                    <div class="col-sm-4">
                      <h3 class="subheading about_color"><b>8</b> <br>Sessions</h3>
                    </div>
                  </div>
                  <!-- <div class="row ">
                    <div>
                      <div class="col-md-offset-4 col-md-8 col-sm-12 col-xs-12">
                        <h3 class="subheading about_color"><b>1500</b>&nbsp;Visitors</h3>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div>
                      <div class="col-md-offset-4 col-md-8 col-sm-12 col-xs-12">
                        <h3 class="subheading about_color"><b>10</b> &nbsp;Sessions</h3>
                      </div>
                    </div>
                  </div> -->
                  <hr style="border-top: 1px solid #efa506;">
                  <div class="row text-center">
                    <div class="col-sm-12 col-xs-12">
                      <h3 class="subheading about_color"><b>Where :</b>&nbsp;Atlantic Virtual Expo Center</h3>
                    </div>
                  </div>
                  <div class="row text-center">
                    <div class="col-sm-12 col-xs-12">
                      <h3 class="subheading about_color"><b>When :</b>&nbsp;6-7 November 2020 | 9:15 AM</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Shedule -->
    <section>
      <div id="lgx-schedule" class="lgx-schedule">
        <div class="lgx-inner" style="padding-bottom:9rem">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="lgx-heading lgx-heading-white">
                  <h2 class="heading">Agenda</h2>
                  <a class="lgx-btn lgx-btn-red" download href="assets/img/Agenda.pdf">Download Agenda</a>
                  <!-- <h6 class="subheading">CBD VAPE WORLD 2020 presents a unique platform for cannabis businesses to create awareness about genuine products from trustworthy brands on a global scale. Our webinars aim to promote public awareness about CBD products. Attend thought leadership sessions on how to create safe CBD brands and build consumer advocacy. Also learn best practices from leading markets.</h6> -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="lgx-tab lgx-tab2">
                  <ul class="nav nav-pills lgx-nav lgx-nav-nogap lgx-nav-colorful">
                    <li class="active">
                      <a data-toggle="pill" href="#home">
                        <div class="row">
                          <h3 style="color: white;">First <span>Day</span></h3>
                          <p class="mt-4"><span> Fri,6 </span>November 2020</p>
                          <p>09:15 AM - 12:30 PM</p>
                        </div>

                      </a>
                    </li>
                    <li>
                      <a data-toggle="pill" href="#menu1">
                        <h3 style="color: white;">Second <span>Day</span></h3>
                        <p><span>Sat,7 </span>November 2020</p>
                        <p>10:00 AM - 1:10 PM</p>
                      </a>
                    </li>
                  </ul>
                  <div class="tab-content lgx-tab-content">
                    <div id="home" class="tab-pane active">
                      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default lgx-panel">
                          <div class="panel-heading" role="tab" id="headingOne">
                            <div class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                                aria-controls="collapseOne">
                                <div class="lgx-single-schedule">
                                  <div class="author">
                                    <!-- <img src="assets/img/speaker.png" alt="Speaker" /> -->
                                  </div>
                                  <div class="schedule-info">
                                    <h4 class="time">9:15 <span>Am</span> </h4>
                                    <h3 class="title"> Guests & Participants Welcome</h3>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default lgx-panel">
                          <div class="panel-heading" role="tab" id="headingTwo">
                            <div class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                                aria-controls="collapseTwo">
                                <div class="lgx-single-schedule">
                                  <div class="author">
                                    <!-- <img src="assets/img/speaker.png" alt="Speaker" /> -->
                                  </div>
                                  <div class="schedule-info">
                                    <h4 class="time">9:20 <span>Am</span></h4>
                                    <h3 class="title"> National Anthem</h3>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default lgx-panel">
                          <div class="panel-heading" role="tab" id="headingThree">
                            <div class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                                aria-controls="collapseThree">
                                <div class="lgx-single-schedule">
                                  <div class="author ">
                                    <!-- <img src="assets/img/speaker.png" alt="Speaker" /> -->
                                  </div>
                                  <div class="schedule-info">
                                    <h4 class="time">9:25 <span>Am</span> </h4>
                                    <h3 class="title">Opening Remarks</h3>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default lgx-panel">
                          <div class="panel-heading" role="tab" id="headingfour">
                            <div class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                                aria-controls="collapsefour">
                                <div class="lgx-single-schedule">
                                  <div class="author">
                                    <!-- <img src="assets/img/speaker.png" alt="Speaker" /> -->
                                  </div>
                                  <div class="schedule-info">
                                    <h4 class="time">9:30<span>Am</span></h4>
                                    <h3 class="title">Welcome Address: HOW ENTREPRENEURS CAN SUCCEED USING TECHNOLOGY IN
                                      OUR NEW NORMAL</h3>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default lgx-panel">
                          <div class="panel-heading" role="tab" id="headingfive">
                            <div class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                                aria-controls="collapsefive">
                                <div class="lgx-single-schedule">
                                  <div class="author">
                                    <!-- <img src="assets/img/speaker.png" alt="Speaker" /> -->
                                  </div>
                                  <div class="schedule-info">
                                    <h4 class="time">9:45 <span>Am</span></h4>
                                    <h3 class="title"> Exhibition Opening</h3>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default lgx-panel">
                          <div class="panel-heading" role="tab" id="headingsix">
                            <div class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                                aria-controls="collapsefive">
                                <div class="lgx-single-schedule">
                                  <div class="author">
                                    <!-- <img src="assets/img/speaker.png" alt="Speaker" /> -->
                                  </div>
                                  <div class="schedule-info">

                                    <h4 class="time">10 <span>Am</span></h4>
                                    <h3 class="title"> 1st Plenary Session - GOVERNMENT POLICIES ON
                                      SME</h3>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default lgx-panel">
                          <div class="panel-heading" role="tab" id="headingseven">
                            <div class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                                aria-controls="collapsefive">
                                <div class="lgx-single-schedule">
                                  <div class="author">
                                    <!-- <img src="assets/img/speaker.png" alt="Speaker" /> -->
                                  </div>
                                  <div class="schedule-info">
                                    <h4 class="time">10:30 <span>Am</span></h4>
                                    <h3 class="title"> Panel Discussion</h3>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default lgx-panel">
                          <div class="panel-heading" role="tab" id="headingeight">
                            <div class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                                aria-controls="collapsefive">
                                <div class="lgx-single-schedule">
                                  <div class="author">
                                    <!-- <img src="assets/img/speaker.png" alt="Speaker" /> -->
                                  </div>
                                  <div class="schedule-info">
                                    <h4 class="time">12 <span>Pm</span></h4>
                                    <h3 class="title"> 2nd Plenary Session - SME FUNDING </h3>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default lgx-panel">
                          <div class="panel-heading" role="tab" id="headingnine">
                            <div class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="true"
                                aria-controls="collapsefive">
                                <div class="lgx-single-schedule">
                                  <div class="author">
                                    <!-- <img src="assets/img/speaker.png" alt="Speaker" /> -->
                                  </div>
                                  <div class="schedule-info">
                                    <h4 class="time">12:30 <span>Pm</span></h4>
                                    <h3 class="title"> Panel Discussion</h3>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div id="menu1" class="tab-pane">
                      <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default lgx-panel">
                          <div class="panel-heading" role="tab" id="headingOne2">
                            <div class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" aria-expanded="true"
                                aria-controls="collapseOne2">
                                <div class="lgx-single-schedule">
                                  <div class="author">
                                    <!-- <img src="assets/img/speaker.png" alt="Speaker" /> -->
                                  </div>
                                  <div class="schedule-info">
                                    <h4 class="time">10:00 <span>Am</span></h4>
                                    <h3 class="title"> 1st Plenary Session - THE ENTREPRENEUR IN A TOUGH TERRAIN</h3>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default lgx-panel">
                          <div class="panel-heading" role="tab" id="headingTwo2">
                            <div class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" aria-expanded="true"
                                aria-controls="collapseTwo2">
                                <div class="lgx-single-schedule">
                                  <div class="author">
                                    <!-- <img src="assets/img/speaker.png" alt="Speaker" /> -->
                                  </div>
                                  <div class="schedule-info">
                                    <h4 class="time">10:30 <span>Am</span></h4>
                                    <h3 class="title">Panel Discussion</h3>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default lgx-panel">
                          <div class="panel-heading" role="tab" id="headingThree2">
                            <div class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" aria-expanded="true"
                                aria-controls="collapseThree2">
                                <div class="lgx-single-schedule">
                                  <div class="author">
                                    <!-- <img src="assets/img/speaker.png" alt="Speaker" /> -->
                                  </div>
                                  <div class="schedule-info">
                                    <h4 class="time">12:00 <span>Pm</span></h4>
                                    <h3 class="title">2nd Plenary Session - TECHNOLOGY & BUSINESS IN THE NEW NORMAL</h3>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default lgx-panel">
                          <div class="panel-heading" role="tab" id="headingFour2">
                            <div class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" aria-expanded="true"
                                aria-controls="collapseTwo2">
                                <div class="lgx-single-schedule">
                                  <div class="author">
                                    <!-- <img src="assets/img/speaker.png" alt="Speaker" /> -->
                                  </div>
                                  <div class="schedule-info">
                                    <h4 class="time">12:30 <span>Pm</span></h4>
                                    <h3 class="title">Panel Discussion</h3>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default lgx-panel">
                          <div class="panel-heading" role="tab" id="headingFive2">
                            <div class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" aria-expanded="true"
                                aria-controls="collapseTwo2">
                                <div class="lgx-single-schedule">
                                  <div class="author">
                                    <!-- <img src="assets/img/speaker.png" alt="Speaker" /> -->
                                  </div>
                                  <div class="schedule-info">
                                    <h4 class="time">1 <span>Pm</span></h4>
                                    <h3 class="title">Vote of Thanks</h3>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default lgx-panel">
                          <div class="panel-heading" role="tab" id="headingSix2">
                            <div class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" aria-expanded="true"
                                aria-controls="collapseTwo2">
                                <div class="lgx-single-schedule">
                                  <div class="author">
                                    <!-- <img src="assets/img/speaker.png" alt="Speaker" /> -->
                                  </div>
                                  <div class="schedule-info">
                                    <h4 class="time">1:5 <span>Pm</span></h4>
                                    <h3 class="title">Closing Remarks</h3>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                        <div class="panel panel-default lgx-panel">
                          <div class="panel-heading" role="tab" id="headingSeven2">
                            <div class="panel-title">
                              <a class="collapsed" data-toggle="collapse" data-parent="#accordion2" aria-expanded="true"
                                aria-controls="collapseTwo2">
                                <div class="lgx-single-schedule">
                                  <div class="author">
                                    <!-- <img src="assets/img/speaker.png" alt="Speaker" /> -->
                                  </div>
                                  <div class="schedule-info">
                                    <h4 class="time">1:10 <span>Pm</span></h4>
                                    <h3 class="title">Exhibition Continues</h3>
                                  </div>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Speakers -->
    <section>
      <div id="lgx-speakers" class="lgx-speakers">
        <div class="lgx-inner">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="lgx-heading  lgx-heading-white" style="margin-bottom: 1rem;">
                  <h2 class="heading" style="color: black;">Speakers</h2>
                </div>
              </div>
            </div>
            <!--//.ROW-->
            <div class="row">
              <div class="col-sm-3">
                <!-- <section class="content1 content1--c5">
                  <a href="#" class="tilter tilter--5">
                    <figure class="tilter__figure">
                      <img class="tilter__image"
                        src="assets/img/Picture5.jpg"
                        alt="img09" />
                      <figcaption class="tilter__caption">
                        <h3 class="tilter__title">Prof.Yemi Osibajo</h3>
                        <p class="tilter__description">Vice President of the Federal Republic of Nigeria </p>
                      </figcaption>
                    </figure>
                  </a>
                </section> -->

                <img class="tilter__image" src="assets/img/yami.png" alt="img09" />
              </div>
              <div class="col-sm-3">
                <img class="tilter__image" src="assets/img/jide.png" alt="img09" />
              </div>
              <div class="col-sm-3">
                <img class="tilter__image" src="assets/img/David.png" alt="img09" />
              </div>
              <div class="col-sm-3">
                <img class="tilter__image" src="assets/img/Kayode.png" alt="img09" />
              </div>
              <!-- <div class="col-sm-3">
                <div class="row" >
                  <div class="col-sm-12">
                    <h4>TOPIC | <span style="color:blue">GOVERNMENT POLICIES</span></h4>
                    
                    <p style="font-size: 1.5rem;">An astute lawyer (SAN) and the current serving Vice President of the Federal
                      Republic of Nigeria.
                      He was recently appointed by the President to chair an economic sustainability committee. The aim
                      of the committee is to develop measures to cushion the effect of the coronavirus and eventually
                      reposition the Nigerian economy.</p>
                  </div>
                </div>
              </div> -->
              <!-- <div class="col-sm-3">
                <section class="content1 content1--c5">
                  <a  class="tilter tilter--5">
                    <figure class="tilter__figure">
                      <img class="tilter__image"
                        src="assets/img/Picture2.jpg"
                        alt="img10" />
                      <figcaption class="tilter__caption">
                        <h3 class="tilter__title">Kayode Pitan</h3>
                        <p class="tilter__description"> Managing Director, Bank Of Industry</p>
                      </figcaption>
                    </figure>
                  </a>
                </section>
              </div>
              <div class="col-sm-3">
                <div class="row" >
                  <div class="col-sm-12">
                    <h4>TOPIC | <span style="color:blue">SME FUNDING</span></h4>
                    
                    <p style="font-size: 1.5rem;">The Managing Director of Bank of Industry (BOI). He’s had a distinguished
                      career in the banking and financial services industry. He began his career with Citibank. Before
                      joining BOI, Pitan held the position of Executive Director of Unity Bank Plc and MD at First
                      Interstate Bank Plc</p>
                  </div>
                </div>
              </div> -->
            </div>

            <!-- <div class="row" style="margin-top: 6rem;">
              <div class="col-sm-3">
                <section class="content1 content1--c5">
                  <a class="tilter tilter--5">
                    <figure class="tilter__figure">
                      <img class="tilter__image"
                        src="assets/img/Picture3.jpg"
                        alt="img10" />
                      <figcaption class="tilter__caption">
                        <h3 class="tilter__title">Dr. David Fasanya</h3>
                        <p class="tilter__description"> Founder, The Junglepreneur Group</p>
                      </figcaption>
                    </figure>
                  </a>
                </section>
              </div>
              <div class="col-sm-3">
                <div class="row" >
                  <div class="col-sm-12">
                    <h4>TOPIC | <span style="color:blue">THE ENTREPRENEUR IN A TOUGH TERRAIN </span></h4>
                  
                    <p style="font-size: 1.5rem;">Serial Entrepreneur, Strategist, Consultant, Thought Leader, and Author of
                      Junglepreneur. David Oludotun Fasanya, Founder of the Junglepreneur Group, brings fresh insights
                      to business transformation through his knowledge and practical experience of tough business
                      terrains in developing and developed economies. He distils these to stimulate growth, value and
                      result.</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <section class="content1 content1--c5">
                  <a class="tilter tilter--5">
                    <figure class="tilter__figure">
                      <img class="tilter__image"
                        src="assets/img/Picture4.jpg"
                        alt="img10" />
                      <figcaption class="tilter__caption">
                        <h3 class="tilter__title">Jide Ipaye </h3>
                        <p class="tilter__description"> MD, Keexs</p>
                      </figcaption>
                    </figure>
                  </a>
                </section>
              </div>
              <div class="col-sm-3">
                <div class="row">
                  <div class="col-sm-12">
                    <h4>TOPIC | <span style="color:blue">TECHNOLOGY & BUSINESSES IN THE NEW NORMAL</span></h4>
                    
                    <p style="font-size: 1.5rem;">Jide is a serial entrepreneur and co-founder of Keexs, the first innovative
                      and social oriented footwear brand in Africa which was birthed in 2015. Jide is a young man who
                      brings exciting designs to shoes and has shown great commitment to adding soul to sneakers. He
                      holds a B.Sc. in Microbiology from the University of Lagos. Before now, he had worked with various
                      multinationals such as Guinness, Total and some tech start-ups. He also has over 14 years of
                      experience in IT and Strategy.</p>
                  </div>
                </div>
              </div>
            </div> -->
            <!--//.ROW-->
          </div>
          <!-- //.CONTAINER -->
        </div>
        <!-- //.INNER -->
      </div>
    </section>
    <!-- Speakers End -->

    <!-- Sponsors -->
    <!-- <section>
      <div id="lgx-sponsors" class="lgx-sponsors">
        <div class="lgx-inner-bg">
          <div class="lgx-inner">
            <div class="container text-center">
              <div class="row">
                <div class="col-xs-12 col-md-12 lgx-heading">
                  <h2 class="text-center heading">Sponsors</h2>
                </div>
                <div class="row">
                  <div class="col-sm-3">
                    <img src="assets/img/sponsors/1.svg"  width="50%" alt="sponsor">
                    <h4>TITLE SPONSOR </h4>
                  </div>
                  <div class="col-sm-3">
                    <img src="assets/img/sponsors/2.svg" width="50%" alt="sponsor">
                    <h4>PRESTIGE SPONSOR</h4>
                  </div>
                  <div class="col-sm-3">
                    <img src="assets/img/sponsors/3.svg"  width="50%" alt="sponsor">
                    <h4>ROYAL SPONSOR</h4>
                  </div>
                  <div class="col-sm-3">
                    <img src="assets/img/sponsors/4.svg"  width="50%" alt="sponsor">
                    <h4>ASSOCIATE SPONSOR</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- Sponso End -->

    <!-- Partners -->
    <section>
      <div class="lgx-sponsors">
        <div class="lgx-inner-bg">
          <div class="lgx-inner partners-bg">
            <div class="container text-center">
              <div class="row">
                <div class="col-xs-12 col-md-12 lgx-heading">
                  <h2 class="text-center heading">Partners</h2>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <ng-image-slider [images]="partnerImage" [infinite]="true" [autoSlide]=5 [showArrow]="true"
                      [imageSize]="{width: 140, height: 90, space:40}" #nav></ng-image-slider>
                  </div>
                  <!-- <div class="col-sm-3">
                    <img src="assets/img/ovation.png"  width="57%" alt="partner">
                  </div>
                  <div class="col-sm-3">
                    <img src="assets/img/huddle_logo.svg" width="100%" alt="sponsor">
                  </div>
                  <div class="col-sm-3">
                    <img src="assets/img/logo.png"  width="70%" alt="sponsor">
                  </div>
                  <div class="col-sm-3">
                    <img src="assets/img/ovation.png"  width="57%" alt="sponsor">
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Participant -->
    <section>
      <div id="lgx-speakers" class="lgx-speakers">
        <div class="lgx-inner">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="lgx-heading  lgx-heading-white" style="margin-bottom: 1rem;">
                  <h4 class="heading" style="color: black;">50 Participants to get FREE Stanbic IBTC Enterprise
                    Online Training with Pan-African University!!!</h4>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <p>The Stanbic IBTC Enterprise Online is a partnership between Stanbic IBTC and Enterprise Development
                  Centre (EDC) of the Pan-Atlantic University, Lagos. It aims at equipping small and medium enterprises
                  (SMEs) with skills and competencies needed to manage their businesses profitably, develop and defend
                  viable business proposals, maximise their business funds, trade and prepare the them for easy access
                  to finance. This training will give business owners the opportunity to navigate business challenges of
                  the new normal.</p>
                <br>
                <p>To stand a chance to win, please refer as many USOSANs as possible to register for this conference
                  and exhibition and inform them to put your name and number as the referrer. The more people you refer,
                  the higher your chances of winning! </p>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-xs-12">
                <div class="lgx-heading  lgx-heading-white" style="margin-bottom: 1rem;">
                  <h4 class="heading" style="color: black;">START REFERRING NOW!!!</h4>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 text-center">
                <h5 style="font-size: 2.3rem;">
                  Share this link <a href="https://melaninsmeseries.org/attendee-booking" target="_blank">
                    https://melaninsmeseries.org/attendee-booking</a> along with your name and number.
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Venu -->
    <section>
      <div id="lgx-speakers" class="lgx-speakers lgx-speakers2">
        <div class="lgx-inner pad-bottom">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="lgx-heading lgx-heading-top lgx-heading-white">
                  <h2 class="heading">Venue</h2>
                </div>
              </div>
            </div>
            <!--//.ROW-->
            <div class="row top-content">
              <div class="col-sm-12 col-md-6" style="margin-top: -3%;">
                <div class="lgx-about-content-area lgx-about-content-area-center">
                  <div class="lgx-about-content">
                    <div class="row">
                      <div class="col-sm-12 st">
                        <p style="font-size: 1.9rem; font-family: fangsong">Nigeria’s biggest virtual expo and
                          conference is set on Atlantic
                          Virtual Expo Center. An expansive 8,640 SqM expo arena is loaded with all the essential
                          features to host successful cannabis trade expos and more. Exhibitors can choose from various
                          customisation options to create dynamic and hyper-real booths. Our 3D booths are equipped with
                          interactive branding panels, so that you can showcase your products in the best manner.
                        </p><br>
                        <p style="font-size: 1.9rem; font-family: fangsong">
                          Event is 100% online and Live for 48 hours straight on 6 & 7 November 2020. You can attend the
                          event
                          from anywhere.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12 col-md-6" style="margin-top:2rem">
                <div class="lgx-about-video lgx-about-video-center">
                  <div class="lgx-video-area lgx-video-area-center">
                    <figure>
                      <a href="#"><img src="assets/img/venuImage.png" alt="Event Video"></a>
                      <figcaption>
                        <div class="video-icon">
                          <div class="lgx-vertical">
                            <div class="embed-responsive embed-responsive-16by9">
                              <!-- <iframe class="embed-responsive-item" src="assets/img/Section3 Video.mp4" controls="false"></iframe> -->
                            </div>
                            <!-- <video playsinline="playsinline" autoplay="autoplay" [muted]="true" loop="loop"
                              id="venueVideo">
                              <source src="assets/img/canbiz_ext.mp4" type="video/mp4">
                            </video> -->
                          </div>
                        </div>
                      </figcaption>
                    </figure>
                    <!-- Modal-->
                  </div>
                </div>
              </div>
            </div>
            <!--//.ROW-->
          </div>
          <!-- //.CONTAINER -->
        </div>
        <!-- //.INNER -->
      </div>
    </section>
    <!-- VENUE END -->
    <!-- <section>
      <div  class="lgx-sponsors">
        <div class="lgx-inner-bg">
          <div class="lgx-inner">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-md-12 lgx-heading">
                  <h2 class="text-center heading">Demo Booths</h2>
                  <ng-image-slider [images]="imageObject" [infinite]="true" [autoSlide]=5 [showArrow]="true"
                    [imageSize]="{width: 372, height: 300, space: 4}" #nav></ng-image-slider>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!-- CTA SECTION 6 -->
    <!-- <section>
      <div id="lgx-about" class="lgx-about">
        <div class="lgx-inner" style="margin-top: -4rem; padding-bottom:6rem ">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="lgx-heading" style="margin-bottom:1rem">
                  <p class="heading-cta">
                    Register as exhibitor by 29 February 2020 and get one full-page ad placement for free in the Premier
                    CBD Vape World e-Magazine – H1 2020 issue.
                  </p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="section-btn-area">
                  <a class="lgx-btn" [routerLink]="['/exhibitor-booking']"><span>Book A Booth Today</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <!------------------ Hover Effect Style : Demo - 6 --------------->
    <!-- <div class="container mt-40">
  <h3 class="text-center">Hover Effect Style : Demo - 6</h3>
  <div class="row mt-30">
    <div class="col-md-4 col-sm-6">
      <div class="box6">
        <img src="http://bestjquery.com/tutorial/hover-effect/demo161/images/img-1.jpg" alt="">
        <div class="box-content">
          <h3 class="title">Prof.  Yemi Osibajo </h3>
          <span class="post">Vice President of the Federal Republic of Nigeria   </span>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="box6">
        <img src="http://bestjquery.com/tutorial/hover-effect/demo161/images/img-2.jpg" alt="">
        <div class="box-content">
          <h3 class="title">Kristiana</h3>
          <span class="post">Web Designer</span>
          <ul class="icon">
            <li><a href="#" class="fa fa-search"></a></li>
            <li><a href="#" class="fa fa-link"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="box6">
        <img src="http://bestjquery.com/tutorial/hover-effect/demo161/images/img-3.jpg" alt="">
        <div class="box-content">
          <h3 class="title">Kristiana</h3>
          <span class="post">Web Designer</span>
          <ul class="icon">
            <li><a href="#" class="fa fa-search"></a></li>
            <li><a href="#" class="fa fa-link"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div> -->

  </div>
</div>
