<ngx-spinner bdOpacity=0.1 bdColor="#333" size="medium" color="#fff" type="ball-pulse" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<section class="header-background">
  <div id="lgx-travelinfo" class="lgx-travelinfo">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About -->
<section>
  <div id="lgx-speakers" class="lgx-speakers">
    <div class="lgx-inner">
      <div class="container ">
        <div class="row">
          <div class="col-xs-12">
            <h3>“It has been said that sponsorship is more than just promoting your logo. It’s about collaboration, it’s
              about partnership, and it’s about synergy... Because after all the SYNERGY is King!”</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <p>We are pleased to invite you to join us at Nigeria’s biggest virtual expo and conference and consider
              sponsoring the event.</p><br>
            <p>You can choose from a range of tailored opportunities designed to support you in showcasing your business
              portfolio and networking with Nigeria and International stakeholders and key decision makers. We encourage
              you to do more this year by deliberately partnering with us.</p><br>
            <p>Sponsorships provide an ideal platform to promote your Company Services & connect with Government
              Officials, Corporate Organization, and the Media. Form new business partnerships, increase contacts,
              networking & deal-flow both locally and internationally. Our packages offer high impact & value for money
              for companies looking to reach a senior level audience.</p>
            <br>
            <ul style="color: rgb(50 51 51 / 69%);">
              <li>As a Sponsor/Exhibitor, increase your brand visibility & connect with African and International
                stakeholders.</li>
              <li><b>Business Lead:</b> Launch new Products or services & increase your business opportunities.</li>
              <li><b>Business Deals:</b> Forge new links with leaders in the business through deal-making at our events.
              </li>
              <li><b>Networking:</b> Connect with new channels of industry networks, leading Government Officials &
                Corporate clients.</li>
              <li><b>Highly Targeted Marketing:</b> Generate corporate awareness to a key market.</li>
              <li><b>Speaker Opportunities:</b> Access to present to a world class audience.</li>
            </ul>

          </div>
        </div>

        <!--//.ROW-->
      </div>
      <!-- //.CONTAINER -->
    </div>
    <!-- //.INNER -->
  </div>
</section>

<!-- Sponsrship -->
<section>
  <div id="lgx-speakers" class="lgx-speakers">
    <div class="lgx-inner about-bg" style="padding-bottom: 7rem;">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="col-xs-12 col-md-12 lgx-heading">
              <h2 class="text-center heading">Sponsorship Opportunity</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="row">
              <div class="col-sm-6">
                <a (click)="openTitle()">
                  <mat-card [ngClass]="{'card-bg' : title === true}">
                    <!-- <img src="assets/img/sponsors/1.svg" width="30%"> -->
                    <span>TITLE SPONSOR</span>
                    <div class="dimmer"></div>
                    <div class="go-corner" href="#">
                      <div class="go-arrow">
                        →
                      </div>
                    </div>
                  </mat-card>
                </a>
              </div>
              <div class="col-sm-6">
                <a (click)="openPrestige()">
                  <mat-card [ngClass]="{'card-bg' : prestige === true}">
                    <!-- <img src="assets/img/sponsors/1.svg" width="30%"> -->
                    <span >PRESTIGE SPONSOR</span>
                    <div class="dimmer"></div>
                    <div class="go-corner" href="#">
                      <div class="go-arrow">
                        →
                      </div>
                    </div>
                  </mat-card>
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <a (click)="openRoyal()">
                  <mat-card [ngClass]="{'card-bg' : royal === true}">
                    <!-- <img src="assets/img/sponsors/1.svg" width="30%"> -->
                    <span>ROYAL SPONSOR</span>
                    <div class="dimmer"></div>
                    <div class="go-corner" href="#">
                      <div class="go-arrow">
                        →
                      </div>
                    </div>
                  </mat-card>
                </a>
              </div>
              <div class="col-sm-6">
                <a (click)="openAssociate()">
                  <mat-card [ngClass]="{'card-bg' : associate === true}">
                    <!-- <img src="assets/img/sponsors/1.svg" width="30%"> -->
                    <span>ASSOCIATE SPONSOR</span>
                    <div class="dimmer"></div>
                    <div class="go-corner" href="#">
                      <div class="go-arrow">
                        →
                      </div>
                    </div>
                  </mat-card>
                </a>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6">
            <div *ngIf="title">
              <ul>
                <li>Naming Rights; “Powered By....”</li>
                <li>Sponsor will be part of the Panelists/Breakout sessions </li>
                <li>Opportunity to speak exclusively about your brand to the audience</li>
                <li>Networking opportunity with the decision makers</li>
                <li>Opportunity to generate sales lead</li>
                <li>Build/Improve on Brand loyalty </li>
                <li>Sponsor will be given an exhibition booth at the virtual exhibition area</li>
                <li>Brand mention and logo on all communication materials on traditional and digital media space</li>
                <li>Branding of virtual venues;
                  <ul>
                    <li>Registration Area </li>
                    <li>Conference Hall </li>
                    <li>Exhibition Area </li>
                    <li>Networking Area </li>
                  </ul>
                </li>
                <li>Roll out of 4nos of 15 seconds adverts per day in-between the conference</li>
                <li>Access to global database of attendees</li>
              </ul>
            </div>
            <div *ngIf="prestige">
              <ul>
                <li>Sponsor will be part of the Panelists/Breakout sessions </li>
                <li>Opportunity to speak exclusively about your brand to the audience</li>
                <li>Networking opportunity with the decision makers</li>
                <li>Opportunity to generate sales lead</li>
                <li>Build/Improve on Brand loyalty </li>
                <li>Sponsor will be given an exhibition booth at the virtual exhibition area</li>
                <li>Brand mention and logo on all communication materials on traditional and digital media space</li>
                <li>Branding of virtual venues;
                  <ul>
                    <li>Registration Area </li>
                    <li>Conference Hall </li>
                    <li>Exhibition Area </li>
                    <li>Networking Area </li>
                  </ul>
                </li>
                <li>Roll out of 3nos of 15 seconds adverts per day in-between the conference</li>
                <li>Access to global database of attendees</li>
              </ul>
            </div>
            <div *ngIf="royal">
              <ul>
                <li>Sponsor will be part of the Panelists/Breakout sessions </li>
                <li>Networking opportunity with the decision makers</li>
                <li>Opportunity to generate sales lead</li>
                <li>Build/Improve on Brand loyalty </li>
                <li>Sponsor will be given an exhibition booth at the virtual exhibition area</li>
                <li>Brand mention and logo on all communication materials on traditional and digital media space</li>
                <li>Branding of virtual venues;
                  <ul>
                    <li>Registration Area </li>
                    <li>Conference Hall </li>
                    <li>Exhibition Area </li>
                  </ul>
                </li>
                <li>Roll out of 2nos of 15 seconds adverts per day in-between the conference</li>
                <li>Access to global database of attendees</li>
              </ul>
            </div>
            <div *ngIf="associate">
              <ul>
                <li>Sponsor will be part of the Breakout sessions </li>
                <li>Networking opportunity with the decision makers</li>
                <li>Opportunity to generate sales lead</li>
                <li>Build/Improve on Brand loyalty </li>
                <li>Sponsor will be given an exhibition booth at the virtual exhibition area</li>
                <li>Brand mention and logo on all communication materials on traditional and digital media space</li>
                <li>Branding of virtual venues;
                  <ul>
                    <li>Registration Area </li>
                    <li>Conference Hall </li>
                    <li>Exhibition Area </li>
                  </ul>
                </li>
                <li>Roll out of 1nos of 15 seconds adverts per day in-between the conference</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Sponsor CTA -->
    <!-- CTA SECTION 6 -->
    <section>
      <div id="lgx-about" class="lgx-about">
        <div class="lgx-inner sep-background-mask" style="margin-top: -4rem; padding-bottom:6rem ">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <div class="lgx-heading" style="margin-bottom:1rem">
                  <p class="heading_cta">
                    To explore Sponsorship opportunities further, please write to <span style="color: #efa506; text-transform: lowercase;">sales@melaninsmeseries.org</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-sm-12">
                <div class="section-btn-area">
                  <a class="lgx-btn" [routerLink]="['/exhibitor-booking']"><span>Book A Booth Today</span></a>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>
