.header-background{
    background-image: url('../../assets/img/sponsor-banner.jpeg') !important;
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 80vh;
 }

 .about-bg
 {
    background-image: url('../../assets/img/about-bg-sp.jpg') !important;
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
 }

 /* .mat-card {
   border: 1px solid #7fe887;
 } */

 
.mat-card {
   position: relative;
   background-color: #f2f8f9;
   border-radius: 4px;
   text-decoration: none;
   overflow: hidden;
   border: 1px solid #f2f8f9;
   margin-top: 5rem;
  cursor: pointer;
  text-align: center;
 }
  
 .card-bg{
  background-color: #a04ede6e;
 }

 .go-corner {
   opacity: 0.7;
 }
 
 .go-corner {
   display: flex;
   align-items: center;
   justify-content: center;
   position: absolute;
   width: 32px;
   height: 32px;
   overflow: hidden;
   top: 0;
   right: 0;
   background-color: #00838d;
   border-radius: 0 4px 0 32px;
 }
 
 .go-arrow {
   margin-top: -4px;
   margin-right: -4px;
   color: white;
   font-family: courier, sans;
 }
 

 .mat-card:hover {
   border: 1px solid #00838d;
   box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
   transition: opactiy 0.3s linear;
   opacity: 1;
 }

 .lgx-heading{
    margin-bottom: 1rem !important;
 }

 .lgx-heading .heading_cta{
  font-family: 'Poppins', sans-serif;
  font-size: 42px;
  line-height: 63px;
  font-size: 2rem;
  line-height: 6.300000000000001rem;
  color: white;
  font-weight: 600;
  margin: 0 0 1rem;
  text-transform: uppercase;
 }

section {
  -webkit-background-size: 100% !important;
  -moz-background-size: 100% !important;
  -o-background-size: 100% !important;
  background-size: 100% !important;
  position: relative;
}
.sep-background-mask {
  background: #554bb9;
  opacity: .9;
  z-index: 1;
}
section > .container {
  position: relative;
  z-index: 2;
}
